.marketing-dashboard {
  background: #EBEBEB;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 20px 0;
    box-shadow: 1px 1px 8px 0 #c5c6cb;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    width: 220px;
  }

  &__description {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  &__column {
    width: 49%;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;

    .mat-form-field {
      width: 31%;
    }
  }

  &__widget {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      margin-bottom: 15px;
    }

    &-sub-title {
      margin-left: 10px;
      font-family: $font-GothamLight;
      color: #a3a3a3;
    }

    &-price {
      height: 475px;
      padding-bottom: 55px;
    }
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &-item {
      width: 27%;
      padding: 12px;
      border-top: 8px solid #00968A;
      background: #fff;

      p {
        margin: 0;
      }

      &-value {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: $font-GothamMedium;
        font-size: 30px;

        span {
          margin-left: 10px;
          position: relative;
          top: -5px;
          font-family: $font-GothamLight;
          font-size: 14px;
          color: #a3a3a3;
        }
      }
    }
  }

  &__new-ins {
    width: 72%;
    height: 310px;
    padding-bottom: 80px;
    margin-right: 20px;
  }

  &__bestseller {
    width: 28%;

    img {
      max-width: 100%;
    }
  }

  .hidden-chart {
    position: relative;
    background: url("../../img/hidden-chart.jpg") no-repeat center center;
    background-size: cover;
    height: 150px;

    button {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 50px;
      font-family: $font-GothamLight;
      text-align: center;
      border: none;
      font-size: 16px;
      padding: 8px 30px;
      background: #00968A;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: #038076;
        box-shadow: 1px 1px 8px 8px rgb(255, 255, 255, 0.48);
      }
    }
  }

  .marketing-dashboard__toolbar {
    .mat-select {
      &-arrow {
        width: 15px;
        height: 15px;
        background: url('../../img/down-arrow.svg') no-repeat center center;
        border: none;
        color: #fff;
        top: 3px;
        right: 5px;
        position: relative;
      }
    }

    .mat-form-field-appearance-fill {
      .mat-form-field-flex {
        background: #00968A;
      }
    }

    .mat-form-field {
      &-underline {
        display: none;
      }

      &-label {
        color: #fff;
      }

      &-flex {
      }
    }
  }
}

.marketing-dashboard__toolbar-select {
  .mat-pseudo-checkbox-checked {
    background: #00968A;
  }

  &.mat-option.mat-selected:not(.mat-option-disabled) {
    color: #00968A;
  }
}


@media (max-width: 1200px) {
  .marketing-dashboard {
    &__container {
      margin-right: 20px;
      margin-left: 20px;
      padding-top: 20px;
    }

    &__row {
      flex-wrap: wrap;
    }

    &__column {
      width: 100%;
    }

    &__description {
      margin-bottom: 20px;
    }

    &__toolbar {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__widget-price {
      height: 500px;
    }

    &__statistic {
      justify-content: flex-start;

      &-item {
        width: auto;
        min-width: 160px;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__new-ins {
      width: auto;
      margin-right: 0;
      height: 500px;
      padding-bottom: 90px;

      &-wrapper {
        flex-direction: column;
      }
    }

    &__bestseller {
      width: auto;
      text-align: center;

      img {
        max-width: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  .marketing-dashboard {
    &__statistic {
      justify-content: space-between;

      &-item {
        min-width: auto;
        width: 31%;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .marketing-dashboard {

    &__statistic {
      flex-wrap: wrap;

      &-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;

        &-value {
          justify-content: center;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__toolbar {
      flex-direction: column;

      .mat-form-field {
        width: 100%;
      }
    }

    &__widget {
      &-title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      &-price {
        padding-bottom: 80px;
      }
    }

    &__new-ins {
      padding-bottom: 110px;
    }
  }
}
