<div class="marketing-dashboard">
  <div class="marketing-dashboard__container">
    <div class="marketing-dashboard__row">
      <img class="marketing-dashboard__logo" src="../../../assets/img/logo.png" alt="Retviews">
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <p class="marketing-dashboard__description">
          Interactive fashion retail dashboard. Choose brands, categories and time frame to see fashion competitor
          benchmark.</p>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__toolbar">
          <div class="marketing-dashboard__toolbar-title">
            <img src="../../../assets/img/icon-filter.svg" alt="icon-filter">
            Set filters:
          </div>

          <form *ngIf="_filtersForm;" [formGroup]="_filtersForm" class="marketing-dashboard__toolbar-controls"
                novalidate>
            <mat-form-field appearance="fill">
              <mat-label>Retailers</mat-label>
              <mat-select formControlName="brands" multiple>
                <mat-option *ngFor="let brand of dashboardData.brands"
                            [value]="brand"
                            [disabled]="brand.locked"
                            (click)="_onControlOptionClick(brand.locked)"
                            class="marketing-dashboard__toolbar-select">
                  {{brand.value}}
                  <img *ngIf="brand.locked" src="../../../assets/img/locked-icon.svg" alt="locked-icon"
                       class="locked-icon">
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="categories">
                <mat-option class="marketing-dashboard__toolbar-select"
                            *ngFor="let category of dashboardData.categories"
                            [disabled]="category.locked"
                            [value]="category"
                            (click)="_onControlOptionClick(category.locked)">
                  {{category.value}}
                  <img *ngIf="category.locked" src="../../../assets/img/locked-icon.svg" alt="locked-icon"
                       class="locked-icon">
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Time frame</mat-label>
              <mat-select formControlName="timeFrame">
                <mat-option class="marketing-dashboard__toolbar-select"
                            *ngFor="let timeFrame of _timeFrames"
                            [disabled]="timeFrame.locked"
                            [value]="timeFrame"
                            (click)="_onControlOptionClick(timeFrame.locked)">
                  {{timeFrame.value}}
                  <img *ngIf="timeFrame.locked" src="../../../assets/img/locked-icon.svg" alt="locked-icon"
                       class="locked-icon">
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <app-loader *ngIf="!_filtersForm && _isLoading"></app-loader>
        </div>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__statistic">
          <div class="marketing-dashboard__statistic-item">
            <p>New ins</p>
            <div class="marketing-dashboard__statistic-item-value" *ngIf="_newInsStatistic && allFiltersSelected">
              {{_newInsStatistic}}
            </div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Highest avg discount</p>
            <div class="marketing-dashboard__statistic-item-value"
                 *ngIf="_highestAvgDiscountStatistic && allFiltersSelected">
              {{_highestAvgDiscountStatistic[1]}}% <span>{{_highestAvgDiscountStatistic[0]}}</span>
            </div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Highest most frequent price</p>
            <div class="marketing-dashboard__statistic-item-value" *ngIf="_highestAvgPriceStatistic && allFiltersSelected">
              {{_highestAvgPriceStatistic[1]}}€</div>
          </div>
        </div>

        <div class="marketing-dashboard__widget marketing-dashboard__widget-price">
          <div class="marketing-dashboard__widget-title">
            Price structure
            <span class="marketing-dashboard__widget-sub-title" *ngIf="_filtersForm">
              {{selectedCategory?.id === _constants.ALL_CATEGORIES_ID ? "Price points per brand" : selectedCategory?.value}}
            </span>
          </div>

          <div class="marketing-dashboard__widget-price-wrapper" *ngIf="_priceStructure?.data?.length && !_isLoading;">
            <mat-table *ngIf="allFiltersSelected; else selectFiltersTml"
                       [dataSource]="_priceStructure.data">
              <ng-container *ngFor="let displayedColumn of _priceStructure.displayedColumns"
                            [matColumnDef]="displayedColumn">
                <ng-container *ngIf="displayedColumn === _constants.PRICE_STRUCTURE">
                  <mat-header-cell *matHeaderCellDef>Full Price Structure</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.priceRange}}{{_priceStructure.currency}}</mat-cell>
                </ng-container>

                <ng-container *ngIf="displayedColumn !== _constants.PRICE_STRUCTURE">
                  <mat-header-cell *matHeaderCellDef>{{displayedColumn}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="percent-cell" (click)="_openPointDetails()">
                      <div class="circle-wrapper">
                        <div class="circle"
                             [style.background-color]="dashboardData.brandColors[displayedColumn]"
                             [style.width.px]="element[displayedColumn] / 2.3"
                             [style.height.px]="element[displayedColumn] / 2.3">
                        </div>
                      </div>
                      <div class="percent">{{element[displayedColumn] | number:'1.0-1'}} {{_priceStructure.measurement}} </div>
                    </div>
                  </mat-cell>
                </ng-container>
              </ng-container>

              <mat-header-row *matHeaderRowDef="_priceStructure.displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: _priceStructure.displayedColumns;"></mat-row>
            </mat-table>
          </div>

          <app-loader *ngIf="_isLoading"></app-loader>
          <app-no-results-found text="No result found"
                                *ngIf="!_priceStructure?.data && !_isLoading">
          </app-no-results-found>
        </div>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget marketing-dashboard__widget-assortment">
          <div class="marketing-dashboard__widget-title">
            Assortment Mix
            <span class="marketing-dashboard__widget-sub-title" *ngIf="_filtersForm">
              {{selectedCategory?.id === _constants.ALL_CATEGORIES_ID ? "Categories split per brand" : selectedCategory?.value}}
            </span>
          </div>
          <div class="marketing-dashboard__widget-assortment-wrapper">
            <ng-container *ngIf="_assortmentMixChart?.dataSets?.length && !_isLoading">
              <div *ngIf="allFiltersSelected; else selectFiltersTml"
                   class="marketing-dashboard__widget-assortment-wrapper-canvas">
                <canvas baseChart
                        chartType="horizontalBar"
                        [datasets]="_assortmentMixChart.dataSets"
                        [labels]="_assortmentMixChart.labels"
                        [options]="_assortmentMixChart.options"
                        [plugins]="_chartsPlugins"
                        [legend]="true">
                </canvas>
              </div>
            </ng-container>

            <app-loader *ngIf="_isLoading"></app-loader>
            <app-no-results-found text="No result found"
                                  *ngIf="!_assortmentMixChart?.dataSets?.length && !_isLoading">
            </app-no-results-found>
          </div>
        </div>

        <div class="marketing-dashboard__widget marketing-dashboard__widget-new-ins">
          <div class="marketing-dashboard__widget-title">
            New ins
            <span class="marketing-dashboard__widget-sub-title" *ngIf="_filtersForm">
                {{selectedCategory?.id === _constants.ALL_CATEGORIES_ID ? "New arrivals per brand" : selectedCategory?.value}}
              </span>
          </div>

          <ng-container *ngIf="_newInsChart?.dataSets?.length && !_isLoading">
            <div class="marketing-dashboard__widget-new-ins-wrapper-canvas">
              <canvas *ngIf="allFiltersSelected; else selectFiltersTml"
                      baseChart
                      chartType="bar"
                      [datasets]="_newInsChart.dataSets"
                      [labels]="_newInsChart.labels"
                      [options]="_newInsChart.options"
                      [legend]="true">
              </canvas>
            </div>
          </ng-container>

          <app-loader *ngIf="_isLoading"></app-loader>
          <app-no-results-found text="No result found"
                                *ngIf="!_newInsChart?.dataSets?.length && !_isLoading">
          </app-no-results-found>
        </div>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column" *ngFor="let chart of _hiddenCharts">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            {{chart.title}}
            <span class="marketing-dashboard__widget-sub-title">{{chart.subTitle}}</span>
          </div>

          <div class="hidden-chart">
            <img [src]="chart.img" [alt]="chart.title">
            <button class="access-button">Access Full Data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #selectFiltersTml>
  <app-no-results-found text="Select filters"></app-no-results-found>
</ng-template>
