<div class="marketing-dashboard">
  <div class="marketing-dashboard__container">
    <div class="marketing-dashboard__row">
      <img class="marketing-dashboard__logo" src="../../assets/img/logo.png" alt="Retviews">
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <p class="marketing-dashboard__description">
          Interactive fashion retail dashboard. Choose brands, categories and time frame to see fashion competitor
          benchmark.</p>
      </div>

      <div class="marketing-dashboard__column">
        <form class="marketing-dashboard__toolbar" [formGroup]="filtersForm" novalidate>
          <div class="marketing-dashboard__toolbar-title">
            <img src="../../assets/img/icon-filter.svg" alt="icon-filter">
            Set filters:
          </div>

          <div class="marketing-dashboard__toolbar-controls">
            <mat-form-field appearance="fill">
              <mat-label>Retailers</mat-label>
              <mat-select formControlName="brands" multiple>
                <mat-option *ngFor="let brand of RESPONSE_DATA.brands"
                            [value]="brand"
                            [disabled]="brand.disabled"
                            class="marketing-dashboard__toolbar-select">
                  {{brand.value}}
                  <img *ngIf="brand.disabled" src="../../assets/img/icon-disabled.svg" alt="icon-disabled"
                       class="icon-disabled _right">
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="categories">
                <mat-option class="marketing-dashboard__toolbar-select"
                            *ngFor="let category of RESPONSE_DATA.categories"
                            [value]="category"
                            [disabled]="category.disabled">
                  <img *ngIf="category.disabled" src="../../assets/img/icon-disabled.svg" alt="icon-disabled"
                       class="icon-disabled _left">
                  {{category.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Time frame</mat-label>
              <mat-select formControlName="timeFrame">
                <mat-option class="marketing-dashboard__toolbar-select" *ngFor="let timeFrame of timeFrames"
                            [disabled]="timeFrame.disabled"
                            [value]="timeFrame">
                  <img *ngIf="timeFrame.disabled" src="../../assets/img/icon-disabled.svg" alt="icon-disabled"
                       class="icon-disabled">
                  {{timeFrame.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__statistic">
          <div class="marketing-dashboard__statistic-item">
            <p>New ins</p>
            <div class="marketing-dashboard__statistic-item-value">982,1 <span>+42%</span></div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Highest avg discount</p>
            <div
              class="marketing-dashboard__statistic-item-value">{{highestAvgDiscount?.value}}{{RESPONSE_DATA.availableCategories[this.selectedCategory]?.statistic?.avgDiscount?.measurement}}
              <span>{{highestAvgDiscount?.brand}}</span></div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Highest mfp</p>
            <div
              class="marketing-dashboard__statistic-item-value">{{highestMfp?.value}}{{RESPONSE_DATA.availableCategories[this.selectedCategory]?.statistic?.highestMfp?.measurement}}
              <span></span></div>
          </div>
        </div>

        <div class="marketing-dashboard__widget marketing-dashboard__widget-price">
          <div class="marketing-dashboard__widget-title">
            Price structure
            <span
              class="marketing-dashboard__widget-sub-title">{{selectedCategory === "All categories" ? "Price points per brand" : selectedCategory}}</span>
          </div>

          <ng-container *ngIf="selectedBrands && selectedBrands.length && selectedCategory && timeFrame; else emptyTemplate">
            <mat-table [dataSource]="priceStructure?.data">
              <ng-container *ngFor="let displayedColumn of priceStructure.displayedColumns"
                            [matColumnDef]="displayedColumn">
                <ng-container *ngIf="displayedColumn === 'Price range'">
                  <mat-header-cell *matHeaderCellDef>Full Price Structure</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.priceRange}}</mat-cell>
                </ng-container>

                <ng-container *ngIf="displayedColumn !== 'Price range'">
                  <mat-header-cell *matHeaderCellDef>{{displayedColumn}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="percent-cell">
                      <div class="circle-wrapper">
                        <div class="circle"
                             [style.background-color]="RESPONSE_DATA.brandColors[displayedColumn]"
                             [style.width.px]="element[displayedColumn] / 2.3"
                             [style.height.px]="element[displayedColumn] / 2.3">
                        </div>
                      </div>
                      <div
                        class="percent">{{element[displayedColumn]}} {{priceStructure.measurement}}</div>
                    </div>
                  </mat-cell>
                </ng-container>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="priceStructure.displayedColumns"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: priceStructure.displayedColumns;"></mat-row>
            </mat-table>
          </ng-container>
        </div>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Assortment Mix
            <span
              class="marketing-dashboard__widget-sub-title">Categories split per brand</span>
          </div>
          <div class="marketing-dashboard__widget-assortment">
            <canvas baseChart
                    *ngIf="selectedBrands && selectedBrands.length && timeFrame ; else emptyTemplate"
                    chartType="horizontalBar"
                    [datasets]="assortmentMixChart.data"
                    [labels]="assortmentMixChart.labels"
                    [options]="assortmentMixChart.options"
                    [plugins]="chartsPlugins"
                    [legend]="true">
            </canvas>
          </div>
        </div>

        <div class="marketing-dashboard__widget-wrapper marketing-dashboard__new-ins-wrapper">
          <div class="marketing-dashboard__widget marketing-dashboard__new-ins">
            <div class="marketing-dashboard__widget-title">
              New ins
              <span class="marketing-dashboard__widget-sub-title">
                {{selectedCategory === "All categories" ? "New arrivals per brand" : selectedCategory}}
              </span>
            </div>

            <canvas *ngIf="selectedBrands && selectedBrands.length && selectedCategory && timeFrame; else emptyTemplate"
                    baseChart
                    chartType="bar"
                    [datasets]="newInsChart.data"
                    [labels]="newInsChart.labels"
                    [options]="newInsChart.options"
                    [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Average price
            <span class="marketing-dashboard__widget-sub-title">Average price per category</span>
          </div>

          <div class="hidden-chart hidden-chart-average">
            <button>Access full data</button>
          </div>
        </div>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Discount evolution
            <span class="marketing-dashboard__widget-sub-title">Discount structure per brand</span>
          </div>

          <div class="hidden-chart hidden-chart-discount">
            <button>Access full data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyTemplate>
  <div class="no-results-found">
    <img src="../../assets/img/no-results-found.svg" alt="no-results-found">
    <div class="empty-label">Select filters</div>
  </div>
</ng-template>
