<div class="marketing-dashboard">
  <div class="marketing-dashboard__container">
    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <img class="marketing-dashboard__logo" src="../assets/img/logo.png" alt="Retviews">
        <p class="marketing-dashboard__description">
          Interactive fashion retail dashboard. Choose brands, categories and time frame to see fashion competitor
          benchmark.</p>
      </div>

      <div class="marketing-dashboard__column">
        <form class="marketing-dashboard__toolbar" [formGroup]="filtersForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Retailers</mat-label>
            <mat-select formControlName="retailers" multiple>
              <mat-option *ngFor="let retailer of retailers" [value]="retailer">
                {{retailer}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categories">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Time frame</mat-label>
            <mat-select formControlName="timeFrame">
              <mat-option *ngFor="let timeFrame  of timeFrames" [value]="timeFrame">
                {{timeFrame}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__statistic">
          <div class="marketing-dashboard__statistic-item">
            <p>New ins</p>
            <div class="marketing-dashboard__statistic-item-value">982,1 <span>+42%</span></div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Avg discount</p>
            <div class="marketing-dashboard__statistic-item-value">60% <span>-42%</span></div>
          </div>

          <div class="marketing-dashboard__statistic-item">
            <p>Avg price</p>
            <div class="marketing-dashboard__statistic-item-value">124,9€ <span></span></div>
          </div>
        </div>

        <div class="marketing-dashboard__widget marketing-dashboard__widget-price">
          <div class="marketing-dashboard__widget-title">
            Price structure
            <span class="marketing-dashboard__widget-sub-title">Price points per brand</span>
          </div>

          <canvas *ngIf="hasBubbleChart"
                  baseChart
                  [chartType]="'bubble'"
                  [datasets]="bubbleChart.data"
                  [options]="bubbleChart.options"
                  [legend]="false"
                  [colors]="colors"
                  (chartClick)="onChartClick($event)">
          </canvas>
        </div>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Assortment Mix
            <span class="marketing-dashboard__widget-sub-title">Categories split per brand</span>
          </div>

          <div *ngFor="let retailer of selectedRetailers">
            <canvas *ngIf="hasStackedChart"
                    baseChart
                    [chartType]="'horizontalBar'"
                    [datasets]="chart[retailer].data"
                    [labels]="chart[retailer].labels"
                    [options]="chart[retailer].options"
                    [legend]="false"
                    [colors]="colors"
                    (chartClick)="onChartClick($event)">
            </canvas>
          </div>
        </div>

        <div class="marketing-dashboard__widget-wrapper marketing-dashboard__new-ins-wrapper">
          <div class="marketing-dashboard__widget marketing-dashboard__new-ins">
            <div class="marketing-dashboard__widget-title">
              New ins
              <span class="marketing-dashboard__widget-sub-title">New arrivals per brand</span>
            </div>
            <span>{{selectedCategory}}</span>

            <canvas *ngIf="hasNewArrivalsChart"
                    baseChart
                    [chartType]="'bar'"
                    [datasets]="newArrivalsChart.data"
                    [labels]="newArrivalsChart.labels"
                    [options]="newArrivalsChart.options"
                    [colors]="colors"
                    [legend]="true"
                    (chartClick)="onChartClick($event)">
            </canvas>
          </div>

          <div class="marketing-dashboard__widget marketing-dashboard__bestseller">
            <div class="marketing-dashboard__widget-title">
              Bestseller
            </div>
            <img src="../assets/img/bestseller.png" alt="Bestseller">
            <div class="marketing-dashboard__widget-sub-title">
              Zara poplin shirt
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="marketing-dashboard__row">
      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Average price
            <span class="marketing-dashboard__widget-sub-title">Average price per category</span>
          </div>

          <div class="hidden-chart">
            <button>Access full data</button>
          </div>
        </div>
      </div>

      <div class="marketing-dashboard__column">
        <div class="marketing-dashboard__widget">
          <div class="marketing-dashboard__widget-title">
            Discount evolution
            <span class="marketing-dashboard__widget-sub-title">Discount structure per brand</span>
          </div>

          <div class="hidden-chart">
            <button>Access full data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
