@import "vars";
@import "fonts";

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  background: #EBEBEB;
  font-family: $font-GothamBook;
}

@import "components/marketing-dashboard";
@import "components/loader";
@import "components/no-results-found";
